<%- include("header") -%>
    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Nulla quam ex sint 
        optio culpa amet in 
        a doloremque, ea vel sapiente quibusdam 
        sequi voluptatum laudantium dolores 
        earum est temporibus fugit?</p>
<%- include("footer") -%>